<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>{$info['id']?'编辑':'新增'}配置</h2>
	</div>

	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">支付方式<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="method" value="{$info.method|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">支付名称<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="name" value="{$info.name|default=''}">
			</div>
		</div>
		<?php
			$field = explode(',',$info['field']);
			$config = unserialize($info['config']);
		?>
		<volist name="field" id="vo">

			<?php
			 	$l = explode(':',$vo)['0'];
			 	$r = explode(':',$vo)['1'];

			?>
		<div class="form-item">
			<label class="item-label">{$l}<span class="check-tips"></span></label>
			<div class="controls">
				<textarea   style="width:60%;height:200px;" name="config[{$r}]">{$config[$r]}</textarea>
			</div>
		</div>
		</volist>
		<div class="form-item">
			<label class="item-label">排序<span class="check-tips">（用于分组显示的顺序）</span></label>
			<div class="controls">
				<input type="text" class="text input-small" name="sort" value="{$info.sort|default=0}">
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">是否开启<span class="check-tips">（配置值）</span></label>
			<div class="controls">
				开启 <input name="status" type="radio"  value="Y" <if condition="$info.status eq  Y"> checked </if>>
				关闭 <input name="status" type="radio"  value="N" <if condition="$info.status eq  N"> checked </if>>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">支付地址<span class="check-tips">（需要配置该项）</span></label>
			<div class="controls">
				<label class="textarea input-large">
					<input type="text" class="text input-large" name="url" value="{$info.url|default=''}">
				</label>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">支付域名<span class="check-tips">（需要配置该项）</span></label>
			<div class="controls">
				<label class="textarea input-large">
					<input type="text" class="text input-large" name="domain" value="{$info.domain|default=''}">
				</label>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">支付跳转域名<span class="check-tips">（需要配置该项）</span></label>
			<div class="controls">
				<label class="textarea input-large">
					<input type="text" class="text input-large" name="shop_url" value="{$info.shop_url|default=''}">
				</label>
			</div>
		</div>

		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>

<block name="script">
	<script type="text/javascript">
		Think.setValue("type", {$info.type|default=0});
		Think.setValue("group", {$info.group|default=0});
		//导航高亮
		highlight_subnav('{:U('Payment/index')}');
	</script>
</block>
