<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>获取接口</h2>
	</div>

	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">接口地址<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="url" value="">
			</div>
		</div>
		<div class="form-item">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>

<block name="script">
	<script type="text/javascript">
		Think.setValue("type", {$info.type|default=0});
		Think.setValue("group", {$info.group|default=0});
		//导航高亮
		highlight_subnav('{:U("Payment/index")}');
	</script>
</block>
